<div class="container">
  <h2>Movies</h2>
  <table class="table">
    <thead *ngIf="movies?.length!==0">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Year</th>
      <th scope="col">Rental Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies"
    (click)="onSelected(movie)"
    [class.selected]="movie === selectedMovie">
      <td>{{movie.name}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.rentalPrice}}</td>
      <td>
        <button (click)="delete(movie); $event.stopPropagation()">Delete</button>
      </td>
    </tr>
    </tbody>
    <span *ngIf="!movies" class="badge badge-info" role="alert">
    No movies to display
  </span>
  </table>
  <div *ngIf="selectedMovie">
    <h2>
      {{selectedMovie.name | uppercase}} was selected
    </h2>
    <button (click)="goToDetails()" class="btn btn-warning">View details</button>

  </div>
<!--  <app-movie-details [movie]="selectedMovie"></app-movie-details>-->
</div>
