table{
  opacity: 0.9;
}
thead tr{
  background-color: ivory;
}

tbody tr{
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
tbody tr:hover{
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

tbody tr.selected {
  background-color: #CFD8DC;
  color: white;
}
tbody tr.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
